<head>
    <title>WebCat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <style type="text/css">
      .parent {
                display: flex;
                flex-wrap: wrap;
              }

      .child {
                flex: 1 0 auto;
              }
    </style>
</head>

<div class="container">
  <br><br>

  <div class="display-4-selection text-center mb-5">
    <h2> Découvrez notre sélection de chatons (<%= @items.size %>)</h2>
  </div>
</div>
  <% if current_user %>
    <%= link_to "Voir mon panier", cart_path(current_user.id) %>
  <% end %>
<div class="container">
<div class="parent">  
    <% @items.each do |item| %>
    <div class="child">
      <div class="card mb-3" style="max-width: 20rem;">
        
        <div class="card-body">
          <h5 class="card-title"><%= item.title%></h5>
        </div>
        
        <img style="height: 200px; width: 100%; display: block;" src="<%= item.image_url %>">
        
        <div class="card-body">
          <p class="card-text"><%= item.description %></p>
        </div>
        
        <div class="card-body">
          <%= link_to item.title, item_path(item.id), class: 'card-link' %>
          <% if current_user %>
            <%= button_to "Ajouter au panier", carts_path(:item_id => item.id), method: "post", class: 'btn btn-outline-primary' %>
          <% end %>
        </div>
      </div>
    </div>
    <%end %>
  </div>
</div>
