<head>
    <title>WebCat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
 </head>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand"<%=link_to "Chat", root_path %></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   <div class="navbar-nav">
     <a class="nav-item nav-link" href="#">User <span class="sr-only">(current)</span></a>
     <% if current_user %>
     <a class="nav-item nav-link" <%=link_to "Panier",cart_path(current_user.id)%></a>
    <% end %>
     <a class="nav-item nav-link" href="#">About</a>
   </div>
 </div>
</nav>
<main>
    <div class="container">
        <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="<%= @item.image_url %>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%= @item.title%></h5>
            <p class="card-text"><%= @item.description%></p>
            <p class="card-text"><%= @item.price%>$</p>
            <%= button_to "Ajouter au panier", carts_path(:item_id => @item.id), method: "post", class: 'btn btn-outline-primary' %>
        </div>
        </div>
    </div>
</main>
<style>
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
}
</style>